<h1>Salud Integral</h1>

<p>La salud completa de una persona tiene 3 componentes principales que son: Fisica, Intelectal, Emocional</p>
<h2>Fisica</h2>
<p>La parte fisica depende de 3 factores principalmente: alimentación, ejercicio y genes</p>
<h3>Genes</h3>
<p>Todavia no podemos modificar la genetica de los humanos, por lo que has aspectos que debemos aceptar 
  que poco podemos hacer por ejemplo no podemos cambiar nuestra estatura (solo con tratamientos y operaciones dolorosas) 
  facilmente (la alimentacion adecuada en tempranas edades ayuda) ni el color de la piel etc.</p>
<p>Pero si hay aspectos que podemos cambiar y los analizaremos a continuación.</p>

<h3>Alimentación</h3>
<p>Esto es lo que más ayuda a mantener un cuerpo saludable</p>

<h3>Ejercicio</h3>
<p>Entre 3 y 4 veces por semana 30 minutos diarios, es de gray ayuda</p>

<h2>Intelectual</h2>
<p>A nuestro cerebro le ayuda mucho el ejercicio porque circula mas sangre, mantenerse hidratado y 
  necesita azucar principalmente de las frutas
</p>

<h2>Emocional</h2>
<p>Si una persona no esta bien emocionalmente puede caer en comportamientos destructivos para su cuerpo en el caso
  extremo suicidios, propiciarse accidentes hasta en casos menores comer alimentos basura no realizar ninguna 
  actividad fisica, etc.
</p>

<h2>Conclusion</h2>
<p>Para mantenerse saludable es necesario contar con un plan integrla de ejercicios, alimentacion adecuada
  y un estado emosional que permita y facilite que todo esto se lleve a cabo.
</p>


