<mat-toolbar>
  <mat-toolbar-row>
    <span routerLink='home'>Logo</span>
    <button mat-button routerLink="usuario">Usuario</button>
    <button mat-button routerLink="razon">Razones</button>
    <!-- <button mat-button [matMenuTriggerFor]="usuario">Usuario</button>
    <mat-menu #usuario="matMenu">
      <button routerLink='usuario' mat-menu-item>Listado</button>
      <button mat-menu-item>Comunicacion</button>
      <button mat-menu-item [matMenuTriggerFor]="reporte">Reporte</button>
    </mat-menu>
    <mat-menu #reporte="matMenu">
      <button mat-menu-item>Estadisticas</button>
      <button mat-menu-item>Tareas</button>
    </mat-menu> -->

    <span class="alineaDerecha"></span>
    <button routerLink='login' mat-button>Login</button>
  </mat-toolbar-row>
</mat-toolbar>
